checklist-etapa1-linii.md
checklist-etapa2-linii.md
checklist-etapa3-linii.md
descriere.txt
readme-css.md
Documentatie AdoptHub.docx
Planificare & cerințe proiect (CTI, Mate-Info, 2025-2026, sem 2) .docx
